@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body{
    background-image: linear-gradient(to right, #89C2B3,#C0DBCA);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgb(94, 133, 122);
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #FF9788;
    text-align: center;
    text-shadow: 1px 1px 2px #8a5249;
}

h2{
    color: #ffc2a5;
    text-shadow: 1px 1px 2px #cf7f59;
}

p {
    text-align: justify;
}